@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
body {
	color: #565656;
}
.header.content .logo{
	margin-bottom: 0px;
}
strong.logo {
	width: 300px;
}
.page-wrapper .page-header .panel.wrapper{
	float: right;
	margin-right: 80px;
	text-align: center;
	position: relative;
	z-index: 3;
	background-color: #fff;
	border-bottom: #fff;
	display: inline-block;
}
.panel.wrapper .header.panel .header.links li:nth-child(3){
	display: none;
}
.panel.wrapper .header.panel > .header.links > .authorization-link:after{
	display: none;
}
.block.block-search{
	position: relative;
	display: inline-block;
	padding: 12px 0 0 25%;
	float: initial;
}
.block.block-search .action.search:before{
	margin: 12px 0 0 0;
    vertical-align: middle;
}
.header.content .compare.wrapper{
	margin: 40px 0 0 0;
}
.header.content .compare.wrapper .item.link.compare>a.action.compare{
	color: #E4007C;
}
.swatch-attribute-options .swatch-option.text{
	line-height: 30px;
}
.nav-sections-item-content .navigation .level0.has-active > .level-top{
	border-color: #E4007C;
}
.authorization-link>a{
	border: 1px solid #E4007C;
	border-radius: 15px;
	height: 25px;
	width: 70px;
	text-align: center;
	padding-top: 5px;
	color: #E4007C;
}
.header.content .minicart-wrapper{
	margin: 38px -119px 0 0;
	z-index: 4;
}
.header.panel > .header.links > li > a, .header.panel > .header.links > li > a:visited{
	color: #E4007C;
}
.header.links .greet.welcome>span{
	display: none;
}
button {
	background: #E4007C;
	border-radius: 35px; 
	color: #fff;
	
}
button:hover {
	background: #60DFE5;
	border: 1px solid #00b4b8;
	color: #fff;
}
/*----------Header-----------*/

a.header.panel {
	color: #E4007C;
}
.minicart-wrapper .action.showcart:before{
	color: #E4007C;
}
.block-search input {
	border-radius: 35px;	
}
._keyfocus *:focus, input:not([disabled]):focus, textarea:not([disabled]):focus, select:not([disabled]):focus {
	border: 1px solid #60DFE5;
	box-shadow: 0 0 3px 1px #60DFE5;
}
.minicart-wrapper .action.showcart .counter.qty {
	background: #fff;
	border-radius: 35px; 
	border: 2px solid #E4007C;
	color: #E4007C;
}

ul.header.links {
	color: #E4007C;
}
li.header.links a:active {
	color: #E4007C;
}
/*----------Navigation------------*/
.navigation ul {
	text-align: center;
}
.nav-sections-item-content {
	background: #fff;
	border-bottom: 1px solid #60DFE5;
}
.navigation .level0.active > .level-top, .navigation .level0.has-active > .level-top {
	border-color: #E4007C;
}
nav.navigation {
	background: rgba(240, 240, 240, 0);
	/*border-bottom: 2px solid #60DFE5;*/
}
.navigation li.level0 {
	font-family: 'Open Sans' sans-serif;
	font-weight: 400;
}
.page-wrapper .sections.nav-sections{
	margin-top: -25px;
}
.sections.nav-sections .navigation .level0 > .level-top{
	line-height: 30px;
}
.minicart-wrapper .action.showcart:before{
	color: #E4007C;
}

/*-------Product Cards and Associated features---------*/
span.action.more.button {
	background: #E4007C;
	border-radius: 35px;
	border: none;
}
span.action.more.button:hover {
	background: #60DFE5;
	border: 1px solid #00b4b8;
}
.action.primary{
	background-color: #E4007C;

	border: none;
	border-radius: 35px;
}
.action.primary:hover {
	background: #60DFE5;
	border: 1px solid #00b4b8;
}
.action.primary:focus {
	background: #60DFE5;
	border: 1px solid #00b4b8;
}
.product-item-info {
	border-radius: 35px;
}
.block.newsletter input {
	border-radius: 35px 0px 0px 35px;
	font-size: 10px;
}
.block-promo .info {
	font-family: 'Open Sans' sans-serif;
	font-weight: 300;
}
div.products-grid {
	align-items: center;
}
div.header.content {
	padding-top: 15px;
}

/*-------Footer Elements-----*/
.page-footer {
	border-top: 2px solid #60DFE5;
}
.copyright {
	background-color: #f4f4f4;
	color: #E4007C;
	font-family: 'Roboto' sans-serif;
	font-weight: 600;
}
/*------Product Page--------*/
.breadcrumbs .items {
	color: #E4007C;
}
a.action.view {
	color: #E4007C;
}
a.action.add {
	color: #E4007C;
}
.rating-summary .rating-result > span:before {
	color: #E4007C;
}
.block .title strong {
	color: #E4007C;
}
div.fotorama__thumb-border {
	border: 2px solid #E4007C;
}
.product-info-main .product-info-price{
	border-bottom: 2px solid #60DFE5;
}
.review-control-vote label:before{
	color: #E4007C;
}
.review-form .action.submit.primary {
	background: #E4007C;
}
div .swatch-option {
	height: 30px;
	border-radius: 35px;
}
div .swatch-attribute.size .swatch-option, .swatch-attribute.manufacturer .swatch-option {
	color: #E4007C;
	border: 1px solid #E4007C;
}
.message.success {
	background: rgba(96, 223, 229, 0.26);
	border: 2px solid #60DFE5;
	border-radius: 14px;
	color: #565656; 
}
.message.success > *:first-child:before {
	color: #E4007C;
}
/*------Checkout Modal-------*/
.minicart-items .product-item-name a {
	color: #00b4b8;
}
div .secondary a:visited, .alink:visited {
	color: #00b4b8;
}
/*------Checkout-------------*/
li.opc-progress-bar-item._active:before:visited {
	background: #E4007C;
}
.fieldset > .field.required > .label:after, .fieldset > .fields > .field.required > .label:after {
	color: #E4007C;
}
.opc-wrapper .step-title {
	border-bottom: 2px solid #60DFE5;
}
.checkout-payment-method .payment-option-title .action-toggle {
	color: #E4007C;
}
button.action.action-apply {
	background: #E4007C;
	border-radius: 35px;
	box-shadow: none;
	color: #fff;
}
/*------------Sign in/Create an Account-----------*/
a.action.create.primary {
	border-radius: 35px;
}
.login-container .fieldset:after {
	color: #E4007C;
}
/*----------My Account----------------------------*/
.block-collapsible-nav .item.current a, .block-collapsible-nav .item.current > strong{
	border-color: #E4007C;
	color: #E4007C;
	font-weight: 600;
}
.message.info {
	background: rgba(96, 223, 229, 0.26);
	border: 2px solid #60DFE5;
	border-radius: 14px;
	color: #565656;
}
.message.info > *:first-child:before {
	color: #E4007C;
}
/*--------------Shopping Cart---------------------*/
a:visited, .alink:visited a, .alink {
	color:#00b4b8;
}
.paypal-review-discount .block > .title strong, .cart-discount .block > .title strong{
	color:#00b4b8;
}
a.action.multicheckout {
	color:#00b4b8;
	font-weight: 400;	
}